manifest {
    name = 'SNP&SEQ Run folder QC pipeline'
    author = 'Mahesh Binzer-Panchal'
    homePage = ''
    description = 'A Nextflow run folder QC pipeline for SciLifeLab SNP&SEQ platform'
    mainScript = 'main.nf'
    nextflowVersion = '>=19.10.0'
    version = '1.0'
}

profiles {

    debug { process.beforeScript = 'env'}

    dev {
        executor.name = 'local'
        executor.cpus = '8'
        executor.memory = '12 G'
    }

    snpseq {
        singularity {
            enabled = true
            autoMounts = true
        }
        executor{
            name = 'local'
            cpus = '8'
            memory = '32 G'
        }
        process {
            shell = ['/bin/bash', '-euo', 'pipefail']
            errorStrategy = { task.exitStatus in [255] ? 'retry' : 'terminate' }
            maxRetries = 2
            scratch = true
            withName: 'fastqc' {
                container = "docker://maxulysse/fastqc"
            }
            withName: 'fastq_screen' {
                memory = '4 G'
                container = "docker://quay.io/biocontainers/fastq-screen:0.13.0--pl526_0"
            }
            withName: 'get_QC_thresholds' {
                container = "shub://Molmed/summary-report-development:checkqc"
            }
            withName: 'get_metadata' {
                container = "shub://Molmed/summary-report-development:checkqc"
            }
            withName: 'interop_summary' {
                container = "docker://quay.io/biocontainers/illumina-interop:1.0.25--0"
            }
            withName: 'multiQC_per_flowcell' {
                container = "shub://Molmed/summary-report-development:multiqc"
            }
            withName: 'multiQC_per_project' {
                container = "shub://Molmed/summary-report-development:multiqc"
            }
        }
    }
}
