//It is possible to specify a different Singularity image for each process definition in your pipeline script.

process {
    withName:runFastqc {
        container = "maxulysse/fastqc" //This will fetch an already availale image from dockerhub
    }
}

process {
    withName:runMultiQC {
        container = "maxulysse/multiqc" //This will fetch an already availale image from dockerhub
    }
}

singularity {
    enabled = true
}