//It is possible to specify a different Singularity image for each process definition in your pipeline script.

process {
    withName:runFastqc {
        container = "/summary-report-development/Singularity_images/maxulysse-fastqc.img"
        //Built from maxulysse/fastq docker hub
    }
}

process {
    withName:runMultiQC {
        container = "/summary-report-development/Singularity_images/multiqc_v1.7.simg"
        //Built from ewels/multiqc docker hub
    }
}

process {
    withName:runFastqScreen {
        container = "/summary-report-development/Singularity_images/fastqscreen.simg"
        //Built from fastqscreen_image_recipe_file
    }
}

process {
    withName:runInteropSummary {
        container = "/summary-report-development/Singularity_images/interop.simg"
        //Built from interop_image_recipe_file
        }
}

process {
    withName:runBcl2fastqSummary {
        container = "/summary-report-development/Singularity_images/multiqc_v1.7.simg"
        //Built from ewels/multiqc docker hub
    }
}

singularity {
    enabled = true
}
