# MultiQC settings that apply to all reports

subtitle: "NGI Uppsala - SNP&SEQ Technology Platform"
intro_text: |
  This is a report containing quality control information about your project run at the SNP&SEQ Technology
  Platform. If you have any questions, please do not hesitate to contact us at
  <a href="mailto:seq@medsci.uu.se">seq@medsci.uu.se</a>

custom_logo: 'assets/UU_logo_tranp4f125px.png'
custom_logo_url: 'http://sequencing.se'
custom_logo_title: 'SNP&SEQ Technology Platform'

plots_force_interactive: True

fastqscreen_simpleplot: True

# This makes sure only references with at least one match is shown.
# This way, MultiQC will (in most cases) not have to reuse any color to represent references,
# hence solving the problem where Human and PhiX had the same color
custom_plot_config:
  fastq_screen:
    hide_zero_cats: True

remove_sections:
    - 'fastqc_sequence_counts'
