
process {
    withName:Fastqc {
        container = "docker://maxulysse/fastqc"
    }
}

process {
    withName:MultiQCPerFlowcell {
        container = "docker://ewels/multiqc:v1.7"
    }
}

process {
    withName:MultiQCPerProject {
        container = "docker://ewels/multiqc:v1.7"
    }
}

process {
    withName:FastqScreen {
        memory = '4 G'
        container = "docker://quay.io/biocontainers/fastq-screen:0.13.0--pl526_0"
    }
}

process {
    withName:InteropSummary {
        container = "docker://quay.io/biocontainers/illumina-interop:1.0.25--0"
        }
}

process {
    withName:GetQCThresholds {
        container = "shub://Molmed/summary-report-development:checkqc"
        }
}
process {
    withName:GetMetadata {
        container = "shub://Molmed/summary-report-development:checkqc"
        }
}

process {
    errorStrategy = { task.exitStatus in [255] ? 'retry' : 'terminate' }
    maxRetries = 2
}

singularity {
    enabled = true
    autoMounts = true
}

profiles {

    dev {
        executor.name = 'local'
        executor.cpus = '8'
        executor.memory = '12 G'
    }

    standard {
        executor.name = 'local'
        executor.cpus = '8'
        executor.memory = '32 G'
    }

    irma {
        executor.name = 'slurm'
        process.clusterOptions = { "-A $params.project" }
        process.cpus = '1'
        process.time = '5.h'
        process.memory = '8 G'
    }

}
