
process {
    withName:Fastqc {
        container = "docker://maxulysse/fastqc"
    }
}

process {
    withName:MultiQCPerFlowcell {
        container = "shub://Molmed/summary-report-development:multiqc"
    }
}

process {
    withName:MultiQCPerProject {
        container = "shub://Molmed/summary-report-development:multiqc"
    }
}

process {
    withName:FastqScreen {
        memory = '4 G'
        container = "docker://quay.io/biocontainers/fastq-screen:0.13.0--pl526_0"
    }
}

process {
    withName:InteropSummary {
        container = "docker://quay.io/biocontainers/illumina-interop:1.0.25--0"
        }
}

singularity {
    enabled = true
}

executor {
    name = 'local'
    cpus = 8
    memory = '12 G'
}