process {
    withName: 'FASTQC' {
        time = '12h'
        memory = '50G'
        cpus = 8
    }
    withName: 'FASTQ_SCREEN' {
        time = '12h'
        memory = '50G'
        cpus = 8
    }
    withName: 'GET_QC_THRESHOLDS' {
        errorStrategy = 'ignore'
    }
    withLabel: 'high_memory' {
        memory = '47G'
    }
}
