process {
    withName: 'FASTQC' {
        time = '12h'
    }
    withName: 'FASTQ_SCREEN' {
        time = '12h'
        memory = '4G'
    }
    withName: 'GET_QC_THRESHOLDS' {
        errorStrategy = 'ignore'
    }
    withLabel: 'high_memory_and_cpus' {
        memory = '100G'
        cpus = 16
    }
}
