singularity {
    enabled = true
    autoMounts = true
}

process {
    withName: 'FASTQC' {
        container = "quay.io/biocontainers/fastqc:0.11.8--2"
    }
    withName: 'FASTQ_SCREEN' {
        container = "quay.io/biocontainers/fastq-screen:0.13.0--pl526_1"
    }
    withName: 'GET_QC_THRESHOLDS' {
        container = "shub://Molmed/summary-report-development:checkqc-3.6.0"
    }
    withName: 'GET_METADATA' {
        container = "shub://Molmed/summary-report-development:checkqc-3.6.0"
    }
    withName: 'INTEROP_SUMMARY' {
        container = "quay.io/biocontainers/illumina-interop:1.0.25--0"
    }
    withName: 'MULTIQC_PER_FLOWCELL' {
        container = 'quay.io/biocontainers/multiqc:1.8--py_1'
    }
    withName: 'MULTIQC_PER_PROJECT' {
        container = 'quay.io/biocontainers/multiqc:1.8--py_1'
    }
}

