singularity {
    enabled = true
    autoMounts = true
}

process {
    withName: 'FASTQC' {
        container = 'https://depot.galaxyproject.org/singularity/fastqc:0.11.9--hdfd78af_1'
    }
    withName: 'FASTQ_SCREEN' {
        container = 'https://depot.galaxyproject.org/singularity/fastq-screen:0.14.0--pl5262hdfd78af_1'
    }
    withName: 'GET_QC_THRESHOLDS' {
        container = 'https://depot.galaxyproject.org/singularity/checkqc:3.6.6--pyhdfd78af_0'
    }
    withName: 'GET_METADATA' {
        container = 'https://depot.galaxyproject.org/singularity/checkqc:3.6.6--pyhdfd78af_0'
    }
    withName: 'INTEROP_SUMMARY' {
        container = 'https://depot.galaxyproject.org/singularity/illumina-interop:1.1.23--h1b792b2_0'
    }
    withName: 'MULTIQC_PER_FLOWCELL' {
        container = 'https://depot.galaxyproject.org/singularity/multiqc:1.11--pyhdfd78af_0'
    }
    withName: 'MULTIQC_PER_PROJECT' {
        container = 'https://depot.galaxyproject.org/singularity/multiqc:1.11--pyhdfd78af_0'
    }
}

