/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.
    Use as follows:
        nextflow run main.nf -profile dev,test,singularity


    This config takes inspiration from https://github.com/nf-core/rnaseq
----------------------------------------------------------------------------------------
*/

params {
    run_folder = "$baseDir/test_data/210510_M03910_0104_000000000-JHGJL"
    fastqscreen_databases = "$baseDir/test_data/Test_FastQ_Screen_Genomes"
    checkqc_config = "$baseDir/test_data/checkqc_config.yaml"
    config_dir = "$baseDir/test_data/test_config"
}    
