//It is possible to specify a different Singularity image for each process definition in your pipeline script.

process {
    withName:runFastqc {
        container = "docker://maxulysse/fastqc"
    }
}

process {
    withName:runMultiQC {
        container = "docker://ewels/multiqc"
    }
}

process {
    withName:runFastqScreen {
        container = "docker://quay.io/biocontainers/fastq-screen:0.13.0--pl526_0"
    }
}

process {
    withName:runInteropSummary {
        container = "docker://quay.io/biocontainers/illumina-interop:1.0.25--0"
        }
}

singularity {
    enabled = true
}
